:root {
    --primary-color: skyblue;
    --secondary-color: #50C878;
    --text-color: darkgrey;
    --btn-padding: 12px 24px;
    --border-radius: 8px;

}

body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    text-align: center;
}

h1,h2 {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

p {
    font-size: 15px;
    color: var(--text-color);
}

button {
    padding: var(--btn-padding);
    border-radius: var(--border-radius);
    font-weight: 600;
}

.diff1:hover, .diff2:hover {
    color: royalblue;
}